/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
composer.lock
config/crudgenerator.php
app/Proyecto.php
app/laboratorio.php
app/Desarrollador.php
app/Http/Controllers/DesarrolladorController.php
app/Http/Controllers/ProyectoController.php
resources/crud-generator/api-controller.stub
resources/crud-generator/controller.stub
resources/crud-generator/lang.stub
resources/crud-generator/migration.stub
resources/crud-generator/model.stub
resources/crud-generator/views/html/create.blade.stub
resources/crud-generator/views/html/edit.blade.stub
resources/crud-generator/views/html/form.blade.stub
resources/crud-generator/views/html/index.blade.stub
resources/crud-generator/views/html/show.blade.stub
resources/crud-generator/views/html/form-fields/checkbox-field.blade.stub
resources/crud-generator/views/html/form-fields/form-field.blade.stub
resources/crud-generator/views/html/form-fields/input-field.blade.stub
resources/crud-generator/views/html/form-fields/password-field.blade.stub
resources/crud-generator/views/html/form-fields/radio-field.blade.stub
resources/crud-generator/views/html/form-fields/select-field.blade.stub
resources/crud-generator/views/html/form-fields/textarea-field.blade.stub
resources/crud-generator/views/html/form-fields/wrap-field.blade.stub
resources/crud-generator/views/laravelcollective/create.blade.stub
resources/crud-generator/views/laravelcollective/edit.blade.stub
resources/crud-generator/views/laravelcollective/form.blade.stub
resources/crud-generator/views/laravelcollective/index.blade.stub
resources/crud-generator/views/laravelcollective/show.blade.stub
resources/crud-generator/views/laravelcollective/form-fields/checkbox-field.blade.stub
resources/crud-generator/views/laravelcollective/form-fields/form-field.blade.stub
resources/crud-generator/views/laravelcollective/form-fields/input-field.blade.stub
resources/crud-generator/views/laravelcollective/form-fields/password-field.blade.stub
resources/crud-generator/views/laravelcollective/form-fields/radio-field.blade.stub
resources/crud-generator/views/laravelcollective/form-fields/select-field.blade.stub
resources/crud-generator/views/laravelcollective/form-fields/textarea-field.blade.stub
resources/crud-generator/views/laravelcollective/form-fields/wrap-field.blade.stub
database/migrations/2020_05_02_183721_create_desarrolladors_table.php
database/migrations/2020_05_02_183154_create_proyectos_table.php
resources/views/desarrollador/edit.blade.php
resources/views/desarrollador/index.blade.php
resources/views/desarrollador/insert.blade.php
resources/views/desarrollador/view.blade.php
resources/views/laboratorio/edit.blade.php
resources/views/laboratorio/form.blade.php
resources/views/laboratorio/index.blade.php
resources/views/laboratorio/show.blade.php
resources/views/laboratorio/create.blade.php
app/Http/Controllers/laboratorioController.php
database/migrations/2020_04_29_060716_create_laboratorios_table.php
resources/views/proyecto/edit.blade.php
resources/views/proyecto/index.blade.php
resources/views/proyecto/insert.blade.php
resources/views/proyecto/view.blade.php
